{{! Custom Google Docstring Template }}
{{summaryPlaceholder}}

{{extendedSummaryPlaceholder}}

Parameters:
{{#args}}
    {{var}} ({{typePlaceholder}}): {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
    {{var}} ({{typePlaceholder}}, optional): {{descriptionPlaceholder}}. Defaults to  {{&default}}.
{{/kwargs}}

Returns:
    {{typePlaceholder}}: {{descriptionPlaceholder}}
